<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Choose cards</title>
</head>

<body>
<h1>Wybierz karty</h1>
<p>Maksymalna ilość kart:</p> <p th:text="${maxSelections}"></p>

<form id="cardForm" th:action="@{/hero/cards}" method="post" th:object="${formObject}" th:data-max-selections="${maxSelections}">
    <input type="hidden" th:field="*{heroId}" />
    <div id="cardList">
        <div th:each="card : ${cards}">
            <label>
                <input type="checkbox" th:field="*{selectedCardsId}" th:value="${card.id}"/>
                <span th:text="${card.name}"></span>
            </label>
        </div>
    </div>
    <button type="submit">Wybierz</button>
</form>

<script>
    const maxSelections = document.getElementById("cardForm").getAttribute("data-max-selections");

    document.getElementById("cardForm").addEventListener("submit", function(event) {
        const checkboxes = document.querySelectorAll('input[type="checkbox"]');
        let selectedCount = 0;
        checkboxes.forEach(function(checkbox) {
            if (checkbox.checked) {
                selectedCount++;
            }
        });
        if (selectedCount > maxSelections) {
            alert("Możesz wybrać maksymalnie " + maxSelections + " kart.");
            event.preventDefault();
        } else if (selectedCount < maxSelections){
            alert("Musisz dobrać jeszcze " + (maxSelections - selectedCount) + " kart/y");
            event.preventDefault();
        }
    });
</script>
</body>
</html>