<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Scenario summary</title>
    <style>
        #summaryForm{
            display: none;
        }
    </style>
</head>
<body>
    <div id="result">
        <label>Sukces? <input type="checkbox" id="successCheckbox"></label>
    </div>
    <div id="summaryForm">
        <p>Uzupełnij formularz</p>
        <form th:action="@{/game/end}" method="post" th:object="${formObject}">
            <label><input type="hidden" name="heroId" th:value="${hero.id}"></label>
            <label>Zdobyte doświadczenie: <input type="number" name="xp" th:field="*{xp}"></label>
            <label>Zdobyte złoto: <input type="number" name="gold" th:field="*{gold}"></label>
            <label>Zdobyte punkty progresu: <input type="number" name="progressPoint" th:field="*{progressPoint}"></label>
            <button type="submit">Potwierdź</button>
        </form>
    </div>
    <a th:href="@{/rooms/room(roomId=${hero.room.id})}"><button>Powrót</button></a>


    <script>
        document.getElementById('successCheckbox').addEventListener('change', function() {
            var formDiv = document.getElementById('summaryForm');
            formDiv.style.display = this.checked ? 'block' : 'none';
        });
    </script>
</body>
</html>