<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Informacje o Pokoju</title>
</head>
<body>

<h1>Informacje o Pokoju</h1>

<p>Nazwa pokoju: <span th:text="${room.name}"></span></p>
<p>Host: <span th:text="${room.getHost().username}"></span> </p>

<p>Twój bohater: <span th:text="${hero.name}"></span> </p>
<a th:href="@{/rooms/room/create_new_hero(roomId=${room.id})}">Utwórz bohatera</a>
<a th:href="@{/hero(heroId=${hero.getId()})}"><button> Wyświetl informacje </button> </a>

<p>Drużyna</p>
<li th:each="heroes : ${room.getHeroes()}">
  <p>Nazwa: <span th:text="${heroes.name}"></span></p>
  <p>Klasa: <span th:text="${heroes.race.name}"></span></p>
  <p>Właściciel: <span th:text="${heroes.getUser().username}"></span></p>
</li>

<a th:href="@{/rooms/room/items(roomId=${room.id})}"><button>Dostępne przedmioty</button></a>
<br><br>
<a href="/rooms">Powrót do listy pokoi</a>
</body>
</html>