<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="UTF-8">
  <title>Room Items</title>
</head>
<body>
<h1>Dostępne przedmioty</h1>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>

  </tr>
  </thead>
  <tbody>
  <tr th:each="item : ${items}">
    <td th:text="${item.id}"></td>
    <td th:text="${item.getItemData().name}"></td>
    <td th:text="${item.getItemData().description}"></td>
    <td th:text="${item.getItemData().price}"></td>

  </tr>
  </tbody>
</table>

</body>
</html>


