<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Wybór Gry</title>
</head>
<body>
<h1>Wybór Gry</h1>

<form action="/rooms/add" method="get">
  <button type="submit">Nowa Gra</button>
</form>

<h2>Your rooms</h2>
<ul>
  <li th:each="room : ${availableRooms}">
    <span th:text="${room.name}"></span>
    <a th:href="@{/rooms/room(roomId=${room.id})}">
      <button>Wybierz</button>
    </a>
  </li>
</ul>

<h2>All rooms</h2>
<ul>
  <li th:each="room : ${allRooms}">
    <span th:text="${room.name}"></span>
    <div th:if="${!room.getUsers().contains(user)}" >
      <form th:action="@{/rooms/add_user_to_room(roomId=${room.id}, userId=${user.id})}" th:method="post">
        <button type="submit">Dolacz</button>
      </form>
    </div>
  </li>
</ul>

<a th:href="@{/}">Back to Home Page</a>
</body>
</html>
